<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Back home</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.04.2020</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad aliquid aspernatur autem, cupiditate deserunt dolor earum excepturi modi perspiciatis, quos recusandae reprehenderit sunt velit voluptatem voluptatibus. Eum id illum itaque laboriosam placeat quaerat quia quisquam repudiandae saepe sequi. Corporis dolorem eos esse modi vel. Ducimus hic incidunt suscipit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad aliquid aspernatur autem, cupiditate deserunt dolor earum excepturi modi perspiciatis, quos recusandae reprehenderit sunt velit voluptatem voluptatibus. Eum id illum itaque laboriosam placeat quaerat quia quisquam repudiandae saepe sequi. Corporis dolorem eos esse modi vel. Ducimus hic incidunt suscipit.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad aliquid aspernatur autem, cupiditate deserunt dolor earum excepturi modi perspiciatis, quos recusandae reprehenderit sunt velit voluptatem voluptatibus. Eum id illum itaque laboriosam placeat quaerat quia quisquam repudiandae saepe sequi. Corporis dolorem eos esse modi vel. Ducimus hic incidunt suscipit.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad aliquid aspernatur autem, cupiditate deserunt dolor earum excepturi modi perspiciatis, quos recusandae reprehenderit sunt velit voluptatem voluptatibus. Eum id illum itaque laboriosam placeat quaerat quia quisquam repudiandae saepe sequi. Corporis dolorem eos esse modi vel. Ducimus hic incidunt suscipit.
    </p>
  </div>

</div>




